﻿@model FileViewer.Models.MVCFileModel
@{
    ViewBag.Title = "AddOrEdit";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.id)
        <div class="form-group">
            @Html.LabelFor(model => model.INSTNM)
            @Html.EditorFor(model => model.INSTNM)
            @Html.ValidationMessageFor(model => model.INSTNM)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.STABBR)
            @Html.EditorFor(model => model.STABBR)
            @Html.ValidationMessageFor(model => model.STABBR)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CITY)
            @Html.EditorFor(model => model.CITY)
            @Html.ValidationMessageFor(model => model.CITY)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZIP)
            @Html.EditorFor(model => model.ZIP)
            @Html.ValidationMessageFor(model => model.ZIP)
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn button" />
            <input type="reset" value="Reset" class="btn button" />
        </div>
    }
</div>
