﻿@model IEnumerable<FileViewer.Models.MVCFileModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="@Url.Action("AddOrEdit","File")" class="btn btn-default">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UNITID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPEID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPEID6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INSTNM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STABBR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZIP)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UNITID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPEID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPEID6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INSTNM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STABBR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZIP)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })*@
            <a href="@Url.Action("AddOrEdit","File",new { id = item.id})" class="btn btn-default">Edit</a>
            <a onclick="Delete(@item.id)" class="btn btn-default">Delete</a>
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(
            function () {
            var successMsg = '@TempData["SuccessMsg"]';
            if (successMsg != '') {
                alertify.success(successMsg);
            }
        });
        function Delete(id) {

            window.location.href = '@Url.Action("Delete","File")/' + id;

            @*alertify.confirm("Web API CRUD Operations", "Are you sure to delete?",
                function () {
                    window.location.href = '@Url.Action("Delete","File")/'+id;
                },null);*@
        }
    </script>
    
}